# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Ignore Agricraft lib
libs/AgriCraft-master/
